asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
defusedxml==0.6.0rc1
Django==1.10.5
django-braces==1.13.0
django-elasticsearch-dsl==0.5.1
django-model-utils==3.1.2
django-star-ratings==0.7.0
elasticsearch==6.4.0
elasticsearch-dsl==6.1.0
idna==2.8
ipaddress==1.0.22
jwt==0.6.1
numpy==1.16.2
oauthlib==3.0.1
Pillow==6.0.0
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.0
python-social-auth==0.3.6
python3-openid==3.1.0
requests==2.21.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
swapper==1.1.0
urllib3==1.24.1
