<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <!-- Favicons -->
    <link rel="shortcut icon" href="#">
    <!-- Page Title -->
    <title>Masa</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css'%}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="{% static 'main_app/css/simple-line-icons.css' %}">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="{% static 'main_app/css/themify-icons.css' %}">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="{% static 'main_app/css/set1.css' %}">
    <!-- Swipper Slider -->
    <link rel="stylesheet" href="{% static 'main_app/css/swiper.min.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'main_app/css/magnific-popup.css' %}">
    <!-- Main CSS -->
</head>

<style>


  li:hover {
    border-bottom: 1px solid white!important;
  }

.my:hover {
  border: none!important;
}

body {
  font-family: 'Montserrat', sans-serif!important;
  text-align: center!important;
}

.yo {
  font-family: 'Montserrat', sans-serif!important;

}
</style>

<body>
    <!--============================= HEADER =============================-->
    <div class="dark-bg sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="{% url 'index' %}" style="color:white;">Masa</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-menu"></span>
            </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                              <li class="nav-item active my">
                            <form action="{% url 'search_view' %}" class="" method="get">
                              {% csrf_token %}
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <input id='q' name="q" type="text" placeholder="Name, e.g Nakhish" class="btn-group1" style="outline: 0; height: 20px!important;">
                                    <input id="area" name="area" type="text" placeholder="Area, e.g Baku.." class="btn-group2" style="outline: 0; height: 20px!important;">
                                    <button type="submit" class="btn-form" style="outline: 0; height: 48px!important; background: #ffbf24;"><div style="margin-top: -5px!important; margin-right: -14px!important;"><span class="icon-magnifier search-icon" style="margin-left: -100px!important; height: 10px!important; font-size: 1em!important;"></span></div><div style="font-size: 0.9em!important; margin-right: -18px!important; margin-top: -27px!important;">SEARCH</div></button>
                                </div>
                                </form>
                              </li>
                          
                                <li class="nav-item dropdown" style="margin-top: 4px!important;">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                   Explore
                   <span class="ti-angle-down" style="margin-top: 4px!important;"></span>
                 </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'rests' %}" style="color:white;">Restaurants</a>
                                        <a class="dropdown-item" href="{% url 'tops' %}" style="color:white;">Top Rated Places</a>
                                        <a class="dropdown-item" href="{% url 'hots' %}" style="color:white;">Hotels</a>
                                    </div>
                                </li>


                                <li class="nav-item active" style="margin-top: 4px!important;">
                                    <a class="nav-link" href="{% url 'main_app:signup' %}" style="color: white;">Sign Up</a>
                                </li>
                                <li class="nav-item active" style="margin-top: 4px!important;">
                                    <a class="nav-link" href="{% url 'main_app:login' %}" style="color: white;">Login</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
    body {
      font-family: 'Montserrat', sans-serif; }
      label {
        width: 7%;
      }

      #id_profile_pic {
        outline: 0;
        width: 16%;
      }

      button {
        outline: 0;
      }

      input {
        outline: 0;
      }
    </style>

  <body style="text-align: center;">
    <div class="jumbotron">
      <h1>Password Successfully Changed!</h1>
      <p>
      Your password has been reset. You may go ahead and <a href="{% url 'main_app:login' %}">Login</a> now.
    </p>
    </div>

  </body>



    <script src="{% static 'main_app/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'main_app/js/popper.min.js' %}"></script>
    <script src="{% static 'main_app/js/bootstrap.min.js' %}"></script>
    <!-- Magnific popup JS -->
    <script src="{% static 'main_app/js/jquery.magnific-popup.js' %}"></script>
    <!-- Swipper Slider JS -->
    <script src="{% static 'main_app/js/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
    <footer class="main-block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
