<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/maps-api-for-javascript-examples-master/geocode-a-location-from-address/demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/maps-api-for-javascript-examples-master/geocode-a-location-from-address/styles.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/maps-api-for-javascript-examples-master/template.css' %}" />
  <script type="text/javascript" src='{% static 'main_app/maps-api-for-javascript-examples-master/test-credentials.js' %}'></script>

  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" src='../js-examples-rendering-helpers/iframe-height.js'></script></head>
<body id="geocode">
  <div id="map"></div>
  <div id="panel"></div>
  <script type="text/javascript" src="{% static 'main_app/maps-api-for-javascript-examples-master/markers-on-the-map/demo0.js' %}"></script>
</body>
